@import "reset-css";
@import "./utils.scss";

* {
	box-sizing: border-box;
}

div, p {
  position: absolute;
  border: none;
}

html, body {
	width: 100%;
	height: 100%;
  background: #000;
}

.on {
  transition: .2s;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: #000;
  position: relative;
  overflow: hidden;
}

#scene1, #scene2 {
  width: 100%;
  height: 100%;
  transform: translateX(0);

  &.none {
    display: none;
  }
}

#scene1 {
  &.on {
    transition: 2s;
    transform: translateX(-800px);
  }
}

#scene2 {
  &.zoom {
    transition: 120s;
    transform: scale(2);
  }

  &.on {
    transition: 2s;
    transform: translateY(-1000px);
  }
}

.line {
  height: 1px;
  background: #fff;
}

.line1 {
  width: 300px;
  top: -6px;
  left: 6px;
  transform: rotateZ(-45deg) scaleX(0);
  transform-origin: right;

  &.on {
    transform: rotateZ(-45deg) scaleX(1);
  }
}

.line2 {
  width: 300px;
  top: 206px;
  left: 94px;
  transform: rotateZ(45deg) scaleX(0);
  transform-origin: left;

  &.on {
    transform: rotateZ(45deg) scaleX(1);
  }

  &.on2 {
    transform: rotateZ(40deg) scaleX(1);
  }
}

.line3 {
  width: 593px;
  top: 418px;
  left: -287px;
  transform: rotateZ(135deg) scaleX(0);
  transform-origin: right;

  &.on {
    transition: .5s ease-out;
    transform: rotateZ(135deg) scaleX(1);
  }
}

.text-wrap {
  width: 205px;
  height: 40px;
  overflow: hidden;
  top: 150px;
  left: 340px;
}

#text1 {
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 27px;
  letter-spacing: 0.06rem;
  transform: translateX(205px);

  &.on {
    transition: 1s;
    transform: translateX(0);
  }
}

.text-wrap2 {
  width: 265px;
  height: 40px;
  overflow: hidden;
  top: 200px;
  left: 220px;
}

#text2 {
  color: #ddd;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  font-size: 23px;
  letter-spacing: 0.06rem;
  transform: translateX(265px);

  &.on {
    transition: 1s;
    transform: translateX(0);
  }
}

.s2-image-area {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 200px;
}

#s2ImageWrap {
  transform: translateX(-100%);
  overflow: hidden;

  &.on {
    transition: 1s ease-in-out;
    transform: translateX(0);
  }
}

#s2Image1 {
  transform: translateX(100%);

  &.on {
    transition: 1s ease-in-out;
    transform: translateX(0);
  }
}

.blueRect {
  height: 300px;
  background: #00bfff;
  opacity: 0.3;
  transform-origin: left;
}

#s2Blue {
  width: 600px;
  top: 666px;
  left: -115px;
  transform: rotate(-50deg) translateX(-735px);

  &.on {
    transition: .5s;
    transform: rotate(-50deg) translateX(0);
  }
}

#s2Blue2 {
  width: 300px;
  top: 200px;
  left: 274px;
  transform: rotate(-50deg) translateX(-735px);

  &.on {
    transition: .5s;
    transform: rotate(-50deg) translateX(0);
  }
}

#s2Red {
  width: 300px;
  height: 300px;
  background: #ff0000;
  opacity: 0.5;
  top: 5px;
  left: 40px;
  transform: rotate(-50deg) translateY(-300px);
  transform-origin: left;

  &.on {
    transition: .5s;
    transform: rotate(-50deg) translateY(0);
  }
}

#s2Rect {
  width: 400px;
  height: 400px;
  background: #a9a9a9;
  opacity: 0.1;
  transform: rotate(-50deg) translate(1000px, 1000px);
  position: absolute;
  left: 260px;
  top: 105px;

  &.on {
    transition: .5s ease-in-out;
    transform: rotate(-50deg) translate(0, 0);
  }
}

.s2line1 {
  width: 300px;
  top: 0;
  left: 102px;
  transform: rotateZ(-50deg) scaleX(0);
  transform-origin: right;

  &.on {
    transform: rotateZ(-50deg) scaleX(1.105);
  }
}

.s2line2 {
  width: 300px;
  top: 254px;
  left: 189px;
  transform: rotateZ(40deg) scaleX(0);
  transform-origin: left;

  &.on {
    transform: rotateZ(40deg) scaleX(1);
  }
}

.s2line3 {
  width: 593px;
  top: 447px;
  left: -174px;
  transform: rotateZ(130deg) scaleX(0);
  transform-origin: right;

  &.on {
    transition: .5s ease-out;
    transform: rotateZ(130deg) scaleX(1);
  }
}

.s2line4 {
  width: 400px;
  top: 190px;
  left: 300px;
  transform: rotateZ(-50deg) scaleX(0);
  transform-origin: right;

  &.on {
    transition: 1s ease-out;
    transform: rotateZ(-50deg) scaleX(1.105);
  }
}

.text-wrap3 {
  width: 198px;
  height: 70px;
  overflow: hidden;
  top: 476px;
  left: 109px;
}

#text3 {
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 0.06rem;
  line-height: 1.5;
  transform: translateX(198px);

  &.on {
    transition: .5s;
    transform: translateX(0);
  }
}

.circle-area {
  width: 160px;
  height: 110px;
  position: absolute;
  top: 475px;
  left: 700px;
  overflow: hidden;
  transform: translateX(500px);

  &.on {
    transition: 2s;
    transform: translateX(0);
  }

  .inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #0EA6BD;
  position: relative;

  &.red {
    background: #F7006C;
  }
}