@import '~reset-css/reset.css';

$speed: .3s ease-in-out;
$colorChange: #999;

#main {
  width: 500px;
  height: 300px;
  background: #eee;
  position: relative;
  
  #slider {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background: #000;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 50px);
    transition: $speed;
    
    &.off {
      background: $colorChange;
    }
  }
  
  #circle {
    width :85px;
    height: 85px;
    border-radius: 50px;
    background: #fff;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 80px);
    transition: $speed;
    
    &:hover {
      cursor: pointer;
    }
    
    &.off {
      left: 50%;
      background: #fff;
    }
    
    #circle-content {
      width: 20px;
      height: 20px;
      border: 8px solid #000;
      border-radius: 20px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: $speed;
      
      &.off {
        border-color: $colorChange;
        width: 0;
      }
    }
  }
}