@import '~reset-css/reset.css';

$all-width: 950px;

* {
  box-sizing: border-box;
}

#index {
  width: 100%;
  background : #000;
  color: #fff;

  .header {
    width: $all-width;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &-logo {
      font-family: Zapfino;
      font-weight: bold;
      font-size: 1.5em;
    }

    &-nav {
      .grobalNav {
        &-list {
          display: flex;
          justify-content: space-between;

          &-item {
            padding: 0 20px;
          }
        }
      }
    }
  }

  .main {
    width: $all-width;
    margin: 0 auto;
    padding: 150px 0 200px;

    &-title {
      font-size: 6rem;
      padding-bottom: 0.5em;
    }

    &-explain {
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }

    &-btn {
      padding: 18px 43px;
      border-radius: 5px;
      font-size: 1.3rem;
      background: #009cd3;
      color: #fff;
      border: none;
    }
  }

  .footer {
    width: $all-width;
    font-size: 0.8rem;
    margin: 0 auto 30px;
  }
}
