@import '~reset-css/reset.css';

* {
  box-sizing: border-box;
}

#index {
  width: 100%;

  .header {
    width: 1024px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &-logo {
      font-family: Zapfino;
      font-weight: bold;
      font-size: 1.5em;
    }

    &-nav {
      .grobalNav {
        &-list {
          display: flex;
          justify-content: space-between;

          &-item {
            padding: 0 20px;
          }
        }
      }
    }
  }

  .main {
    width: 1024px;
    margin: 0 auto;
  }
}
