@import '~reset-css/reset.css';

* {
  box-sizing: border-box;
}

#index {
  .header {
    width: 100%;
    margin: 0 auto;

    &-logo {
      font-family: Zapfino;
      font-weight: bold;
      font-size: 1.5em;
    }

    &-nav {
      
    }
  }
}
