@import "reset-css";
@import "./utils.scss";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #fff;
  font-family: "futura-pt",sans-serif,"source-han-sans-japanese",sans-serif,"Meiryo, Yu Gothic","YuGothic","Roboto","Helvetica Neue","Hiragino Kaku Gothic Pro","Arial",sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 2;
  letter-spacing: .15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll; 
}

header {
  width: 100%;
  z-index: 9999;

  .logo {
    width: 300px;
    height: 200px;
    padding: 60px 50px;

    &-exp{
      font-size: 0.5rem;
      letter-spacing: 0.06rem;
      font-weight: 600;
    }

    &-title {
      letter-spacing: 1.1rem;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }

  .menu-group {
    //display: none;
    position: fixed;
    right: 0;
    top: 0;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 100px 180px 0 50px;
    background-color: rgba(180, 219, 219, 0.8);
    width: 480px;
    height: 100vh;

    li {
      padding-bottom: 7px;
      letter-spacing: 0.3rem;
    }

    .is-active {
      display: block;
    }
  }

  .burger {
    width: 80px;
    height: 80px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 40px;
    position: fixed;
    top: 50px;
    right: 60px;
    z-index: 10000;
  }
}

main {
  .box-wrapper {
    width: 700px;
    height: 466px;
    background: url('./images/hero.jpg') no-repeat;
  }
}
