/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}@charset "UTF-8";
.wrap {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", Meiryo, sans-serif;
  background: #000; }
  .wrap .header {
    width: 100%;
    height: 100vh;
    background: #222;
    color: #fff; }
    .wrap .header .header-ttl {
      position: absolute;
      top: 80px;
      left: 80px; }
      .wrap .header .header-ttl .header-ttl-main {
        font-weight: bold;
        margin-bottom: 20px; }
        .wrap .header .header-ttl .header-ttl-main .header-ttl-main-catch {
          font-size: 6rem;
          margin-bottom: 15px; }
        .wrap .header .header-ttl .header-ttl-main .header-ttl-main-exp {
          font-size: 0.7rem; }
    .wrap .header .header-sub {
      font-size: 0.9rem;
      line-height: 150%;
      letter-spacing: 0.1rem; }
    .wrap .header .header-navBtn {
      width: 80px;
      height: 80px;
      position: absolute;
      top: 0;
      right: 0;
      background: #000;
      cursor: pointer;
      transition: .3s; }
      .wrap .header .header-navBtn:before {
        width: 22px;
        position: absolute;
        left: 29px;
        display: block;
        content: '';
        border: none;
        background: #fff;
        height: 2px;
        top: 32px; }
      .wrap .header .header-navBtn:after {
        width: 22px;
        position: absolute;
        left: 29px;
        display: block;
        content: '';
        border-top: solid 2px #fff;
        border-bottom: solid 2px #fff;
        height: 5px;
        top: 39px; }
      .wrap .header .header-navBtn:hover {
        background: #fff; }
        .wrap .header .header-navBtn:hover:before {
          background: #000; }
        .wrap .header .header-navBtn:hover:after {
          border-color: #000; }
  .wrap .footer {
    width: calc(100% - 80px);
    height: 175px;
    background: #222;
    color: #999;
    padding: 60px 0 0 80px; }
    .wrap .footer .footer-menu {
      font-size: 0.7rem;
      margin-bottom: 70px; }
      .wrap .footer .footer-menu .footer-menu-item {
        display: inline-block;
        transition: .3s; }
        .wrap .footer .footer-menu .footer-menu-item:first-child {
          margin-right: 10px; }
        .wrap .footer .footer-menu .footer-menu-item:not(:first-child) {
          margin: 0 10px; }
        .wrap .footer .footer-menu .footer-menu-item a {
          transition: .3s;
          text-decoration: none; }
        .wrap .footer .footer-menu .footer-menu-item a:link {
          color: #999; }
        .wrap .footer .footer-menu .footer-menu-item a:visited {
          color: #999; }
        .wrap .footer .footer-menu .footer-menu-item a:hover {
          color: #fff; }
        .wrap .footer .footer-menu .footer-menu-item a:active {
          color: #999; }
    .wrap .footer .footer-ttl {
      font-weight: bold;
      font-size: 1.6rem;
      margin-bottom: 0.5rem; }
    .wrap .footer .footer-copy {
      font-size: 0.8rem; }

/*# sourceMappingURL=main.css.map*/