@import '~reset-css/_reset.scss';

$all_width: 980px;

header {
  min-width: $all_width;
  margin: 0 auto;
  height: 600px;
  background: #00f;

  .box {
    width: 300px;
    background: #0f0;
  }
}

main {
  min-width: $all_width;
}

footer {
  min-width: $all_width;
}