@import '~reset-css/_reset.scss';

$all_width: 980px;

header {
  min-width: $all_width;
  margin: 0 auto;
  height: 600px;
  background: #00f;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    color: #fff;
    text-align: center;

    .catch {
      margin-bottom: 12px;
      line-height: 1.2;
    }

    .title {
      font-size: 5rem;
      margin-bottom: 12px;
    }

    .power {
      font-size: 0.8rem;
      margin-bottom: 12px;
    }

    .logo {
      font-size: 1.3rem;
      margin-bottom: 12px;
    }

    .app {
      li {
        display: inline-block;
        
        img {
          width: 200px;
        } 
      }
    }
  }
}

main {
  min-width: $all_width;
}

footer {
  min-width: $all_width;
}